<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.sora.TabiSplit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tabisplit</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Tabi would like to access your contacts so you can invite others to the event. Tabi do not save any given contact information to our server.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>We would like to access your camera to scan receipts</string>
</dict>
</plist>
